@model Category
@{
    ViewData["Title"] = "AddOrUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">

    <h2>Add Or Update</h2>
    <form asp-controller="Category" asp-action="AddOrUpdate" method="post">
        <div class="form-group">
            <input  asp-for="CategoryId" type="hidden"/>
            <label asp-for="Name">Blog Kategorisi</label>
            <input asp-for="Name" class="form-control" placeholder="Enter Title">
           
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


